<!DOCTYPE html>
<html>
<head>
  <title>Reverse Auction</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id'<%= key %>'>
    <%= value %>
  </div>
<% end %>

<nav>
  <% if doctor_signed_in? %>
    Signed in as <%= current_doctor.email %>
    (<%= link_to "Doctor Sign out", destroy_doctor_session_path, method: :delete %>)
  <% else %>
    <%= link_to "Doctor Sign up", new_doctor_registration_path %>
    <%= link_to "Doctor Sign in", new_doctor_session_path %>
  <% end %>
</nav>

<nav>
  <% if patient_signed_in? %>
    Signed in as <%= current_patient.email %>
    (<%= link_to "Patient Sign out", destroy_patient_session_path, method: :delete %>)
  <% else %>
    <%= link_to "Patient Sign up", new_patient_registration_path %>
    <%= link_to "Patient Sign in", new_patient_session_path %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
